#weather-display {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* background-color: #fcf7f7; */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 450px;
  margin:1.5rem auto;
  
}


#weather-display div {
  margin-bottom: 0.75rem;
  font-size: 1.1rem;
  
}

.resolved-address {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: #333;
}

.temp,
.feels-like,
.condition {
  color: #555;
}